body {
    display: flex;
    margin: 0px;
    background: linear-gradient(to right, #ffcc00, #ff6666);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#consoleBox {
    text-align: center;
    width: 700px;
    left:100px;
    background-color: rgb(134, 224, 224);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 20px;
    padding: 20px;
}

#consoleWords {
    text-align: left;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
}

#userInput {
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

#mapBox {
    text-align: center;
    width: 700px;
    left:100px;
    background-color: rgb(134, 224, 224);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 20px;
    padding: 20px;
    margin-top: 50px;
}